---
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Projects from "../components/Projects.astro";
import projectsList from "../data/projects.json";

const theme = { background: "#000000", color: "#ffffff" };
const social = [
  {
    name: "Facebook",
    url: "https://www.facebook.com/JoseDv23",
    icon: "facebook.svg",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/Jose_Dv1",
    icon: "twitter.svg",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/jose_dv1/",
    icon: "instagram.svg",
  },
  {
    name: "Github",
    url: "https://github.com/JoseDv1",
    icon: "github.svg",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/josedv1",
    icon: "linkedin.svg",
  },
];

const brand = { name: "JoseDv1 Web", logo: "images/logo.jpg" };
const links = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "About Me",
    url: "#AboutMe",
  },
  {
    name: "Projects",
    url: "#Projects",
  },
];
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <Navbar theme={theme} brand={brand} links={links} search={false} />
    <AboutMe />
    <Projects projects={projectsList} />
    <Footer theme={theme} brand={brand} social={social} contact={contact} />

    <style>
      body {
        background-color: #656462;
        background-image: url("../public/images/background.jpg");
      }
    </style>
  </body>
</html>
